@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

body {
    
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: black;
    height: 150px;
}

.navbar-brand {
    font-family: 'Sigmar one', sans-serif;
    font-size: 3rem;
}

.carousel-item {
 height: 600px;

}

.carousel-item img {
   background-size: cover;
}

.btn {
    background-color: black;
    color: #fcfcfc;
    font-weight: bolder;
    font-size: 1.5rem;
}

.btn:hover, .btn:focus {
    background-color: rgb(16, 2, 90);
    color: white;
}

.carousel-caption h2, p { 
   color: rgb(1, 2, 15);
   font-weight: bolder;
}

.carousel-caption h2 {
    font-size: 2rem;
}

.carousel-caption p {
    font-size: 1.5rem;
}

.carousel-control-prev, .carousel-control-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    top: calc(50% - 20px);
}

.carousel-control-prev {
    left: 10%;
}

.carousel-control-next {
    right: 10%;
}


